.devbox/
.helm-charts/
.secrets/.vault-crosscluster-vars.yaml
.secrets/credentials/ghcr.json
.venv/
02-third-party/05-mongodb
03-microservices/subscription_apis/address_api/__pycache__/
03-microservices/subscription_apis/address_api/migrations/
03-microservices/subscription_apis/subscription_apis/__pycache__/
03-microservices/subscription_apis/db.sqlite3
03-microservices/subscription_registration/subscription/__pycache__/
03-microservices/subscription_registration/subscription/migrations/
03-microservices/subscription_registration/subscription_registration/__pycache__/
03-microservices/subscription_registration/db.sqlite3

bin/
gcloud/
hooks/
node_modules/

.env
requirements.txt
*.log
__pycache__
test.py
poetry.lock

03-microservices/errors/