pycache
*.pyc
*.pyo
*.pyd 
.Python
venv
*.egg-info
*.eggs
build
dist
migrations/
db.sqlite3
*.log
.git
.env
tests/
staticfiles/
media/
docs/
README.md
.dockerignore
Dockerfile
mongodb.py
mongodb_setup.py
static/
